.mask(style='position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; opacity: 0.5; z-index: 1000; background: rgb(0, 0, 0);display:none;')
.addressdialog(style='z-index: 1001;display:none;')
  .addressdialog-close
  .addressdialog-header Add new address
  .addressdialog-content
    .addressform
      div#updateAddress
        .addressformfield
          label Name
          input#username(placeholder='Input your name please.')
          .addressformfield-hint
            span.icon-dot-error Input your name please.'
        .addressformfield
          label Type
          input#type(placeholder='Please input your address type.')
          .addressformfield-hint
            span.icon-dot-error Please input your address type.
        .addressformfield
          label Address
          input#address(placeholder='Please input your address type.')
          .addressformfield-hint
            span.icon-dot-error Please input your address.
        .addressformfield.phonefield
          label Phone number
          input#phone(placeholder='Please input your phone number.',type="number")
          .addressformfield-hint
            span.icon-dot-error Please input your phone number.
        input#addr_id(type="hidden")
        input#index(type="hidden")
      .addressform-buttons
        button#save Save
        button#updateBtn Save
        button Cancel