doctype html
html
  head
    meta(charset='UTF-8')
    title add Address
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/header-m.css')
    link(rel='stylesheet', href='/stylesheets/updateAddress.css')
    link(rel='stylesheet', href='/stylesheets/updateAddress-m.css')
  body
    include header-m.jade
    +header-m("Add new address")
    .addressdialog-content
      .addressform
        div#updateAddress
          .addressformfield
            label Name
            input#username(placeholder='Input your name')
            .addressformfield-hint
              span.icon-dot-error Input your name
          .addressformfield
            label Type
            input#type(placeholder='Input your phone type')
            .addressformfield-hint
              span.icon-dot-error Input your phone type
          .addressformfield
            label Address
            input#address(placeholder='Input your address')
            .addressformfield-hint
              span.icon-dot-error Input your address
          .addressformfield.phonefield
            label Phone number
            input#phone(placeholder='Input your phone number',type='number')
            .addressformfield-hint
              span.icon-dot-error Input your phone number
          input#addr_id(type="hidden")
          input#index(type="hidden")
        .addressform-buttons
          button#save Save
          //- button#updateBtn 保存修改
          //- button 取消
  script(src='/javascripts/jquery-1.7.1.min.js')
  script(src='/javascripts/addAddress.js')
  script(src='/javascripts/header.js')