.mask(style='position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; opacity: 0.5; z-index: 1000; background: rgb(0, 0, 0);display:none;')
.addressdialog(style='left: 166px; top: 96px; z-index: 1001;display:none;')
  .addressdialog-close
  .addressdialog-header 添加新地址
  .addressdialog-content
    .addressform
      div#updateAddress
        .addressformfield.validate-error
          label 姓名
          input#username(placeholder='请输入您的姓名')
          .addressformfield-hint
            span.icon-dot-error 请输入收外卖人的姓名
        .addressformfield
          label 电话类型
          input#type(placeholder='电话类型（公司、个人等）')
          .addressformfield-hint
            span
        //- .addressformfield.addressfield
        //-   label 位置
        //-   input(placeholder='请输入小区、大厦或学校')
        //-   .address-suggestlist
        //-     ul
        //-   .addressformfield-hint
        //-     span
        .addressformfield
          label 详细地址
          input#address(placeholder='单元、门牌号')
          .addressformfield-hint
            span
        .addressformfield.phonefield
          label 手机号
          input#phone(placeholder='请输入您的手机号')
          .addressformfield-hint
            span
        input#addr_id(type="hidden")
        input#index(type="hidden")
      .addressform-buttons
        button#save 保存
        button#updateBtn 保存修改
        button 取消