doctype html
html
  head
    meta(charset='UTF-8')
    title confirm order
    meta(name='viewport', ,='', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/header-m.css')
  style.
    * {
    margin: 0;
    padding: 0;
    }
    body {
    min-width: 20em;
    width: 100%;
    background: #f2f2f2;
    color: #333;
    font: 100%/1.5 "Helvetica Neue", "Microsoft Yahei", sans-serif;
    }
    .address {
    position: relative;
    padding: 10px;
    background: #fff;
    }
    span.icon-arrow-right {
    font-size: 18px;
    color: #ddd;
    vertical-align: middle;
    line-height: 1;
    }
    .addr-content {
    vertical-align: middle;
    display: inline-block;
    width: 93%;
    }
    .section {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    }
    .payment {
    border-top: none;
    padding: 10px;
    line-height: 1.2;
    padding-bottom: 0;
    }
    .payonline-item {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #eee;
    }
    span.icon-success.elemeradio {
    color: #ccc;
    font-size: 18px;
    }
    .cdish-way {
    padding-bottom: 10px;
    }
       .clearfix:after {
      content: "";
      display: table;
      height: 0;
      clear: both;
      }
      html {
      font-size: 16px;
      }
      body {
      min-width: 20em;
      width: 100%;
      background: #f2f2f2;
      color: #333;
      font: 100%/1.5 "Helvetica Neue", "Microsoft Yahei", sans-serif;
      }
      ol,
      ul {
      list-style: none;
      padding: 0;
      margin: 0;
      }
      article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      hgroup,
      main,
      nav,
      section,
      summary {
      display: block;
      }
      .ui-block {
      margin-top: 10px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      background: #fff;
      }
      .cart-dish {
      padding: 0 10px;
      border-top: 1px solid #eee;
      -webkit-transition: opacity .3s ease;
      transition: opacity .3s ease;
      }
      .cart-dish:first-child {
      border-top: none;
      }

      .cdish-name {
      width: 68%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      }
      .cdish-quantity {
      width: 10%;
      color: #999;
      display: block;
      }
      .ui-multiple:before {
      content: "×";
      margin: 0 .2em 0 0;
      font-family: Verdana, sans-serif;
      font-size: .9em;
      }
      .cdish-cost {
      width: 20%;
      color: #666;
      text-align: right;
      display: block;
      }
      .ui-rmb:before {
      content: "¥";
      margin: 0 .1em 0 0;
      font-family: Arial, sans-serif;
      font-size: .9em;
      }
      .cart-footer {
      margin: 20px 10px 0;
      }
      .cart-summary {
      text-align: right;
      color: #666;
      }
     
      .cart-summary>.total-cost {
      color: #d8584a;
      }
      .ui-btn.btn-confirm {
      font-weight: 700;
      }
      .ui-btn {
      display: block;
      width: 100%;
      padding: 10px 0;
      color: #fff;
      border: none;
      border-radius: 3px;
      text-align: center;
      -webkit-transition: color .4s;
      transition: color .4s;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: button;
      cursor: pointer;
      font-size: 100%;
      }
      .ui-btn.btn-confirm {
      background: #4cd964;
      }
      .cdish-detail {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 13px 0;
    line-height: 1.2;
      }
      .total-cost:before {
    content: "¥";
    margin: 0 .1em 0 0;
    font-family: Arial, sans-serif;
    font-size: .9em;
    }
    .cart-summary{
    margin-bottom:10px;
    }
    .selected{
    color:#3199e8;
    font-weight:bold;
    }
  body
    include header-m.jade
    +header-m("http://www.baidu.com","Confirm Order")
    .wrp
      .address.section
        .addr-content
          p zouweiyun / 1862281710
          p 上海什么时候没什么
        span.icon-arrow-right
          | >
      .payment.section
        .cdish
          .cdish-way 支付方式
        .payonline-item 货到付款
        .payonline-item pay online
    ul.ui-block
    footer.cart-footer
      p.cart-summary
        span
        |  份美食 
        span.total-cost
      button.ui-btn.btn-confirm
        span 去结算
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/javascripts/jquery.tmpl.min.js')
  script.
    $(function() {
    if (localStorage.getItem('menuOrder')) {
    var orderList = localStorage.getItem('menuOrder');
    console.log(JSON.parse(orderList))
    var orderListArr = JSON.parse(orderList)
    var markup = '<li class="cart-dish ng-scope"> \
    <div class="cdish-detail"><span class="cdish-name">${dishName}</span><span class="ui-multiple cdish-quantity">${num}</span><span class="ui-rmb cdish-cost">${price}</span></div></li>'
    $.template("orderTemplate", markup);
    $.tmpl("orderTemplate", orderListArr)
    .appendTo(".ui-block");
    $(".total-cost").text(localStorage.getItem('totalPrice'));
    $(".cart-summary").find("span").eq(0).text(orderListArr.length);
    }
    $(".payonline-item").on("click",function(){
    $(this).addClass("selected");
    $(this).siblings().removeClass("selected");
    })
    })