header.topbar
    .container.clearfix
        a.topbar-item.topbar-homepage(href='/shop/register') Index
        a.topbar-item.myfav(href='/shop/account/web/menu') Menus
        a.topbar-item.myorder(href='/shop/account/web/xls') Upload Files
        a.topbar-item.myaddress(href='/shop/account/web/dish') Upload Menus
        a.topbar-item.myfav(href='/shop/account/web/order') Statistics
        a.topbar-item.myfav(href='/shop/account/web/ordermanage') Order
        .topbar-profilebox 
          a(href='/shop/account/web/logout') Logout