header.topbar
    .container.clearfix
        a.topbar-item.topbar-homepage(href='')
        a.topbar-item.myorder(href='/user/account/web/myorder') 我的订单
        a.topbar-item.myaddress(href='/user/account/web/address') 我的地址
        a.topbar-item.myfav(href='/user/account/web/myfav') 我的收藏
        .topbar-profilebox 
        a.topbar-item.myfav(href='/user/account/web/myfav') Register
          span= username
          a(href='') Logout