header.topbar
    .container.clearfix
        a.topbar-item.topbar-homepage(href='/user/register') Homepage
        a.topbar-item.myorder(href='/user/account/web/myorder') My Order
        a.topbar-item.myaddress(href='/user/account/web/address') My Address
        a.topbar-item.myfav(href='/user/account/web/myfav') My Favourite
        a.topbar-item.search(href='/user/account/index') Search
        .topbar-profilebox
          span= username
          a(href='/user/account/web/logout')        Logout