mixin header-m(name)
	header.eleme-header
		.header-title.flex
			span.header-rst-name= name
		.expand
		.list
			a(href="/user/account/web/myfav/m") My favorite
			a(href="/user/account/web/addressManage/m") My address
			a(href="/user/account/web/index/m") Search
			a(href='/user/register/m') Register
			a(href='/user/login/web/m') Login
			a(href='/user/account/web/logout/m') Logout
