<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/javascripts/jszip.min.js"></script>
    <script src="/javascripts/FileSaver.js"></script>
    <script src="/javascripts/jquery-2.2.3.min.js"></script>
    <style>
    #result {
        visibility: hidden;
        height: 0;
    }
    </style>
</head>

<body>
    <input type="file" id="file" name="file" multiple="">
    <div id="result"></div>
</body>
<script>
(function() {
    if (!window.FileReader || !window.ArrayBuffer) {
        $("#error_block").removeClass("hidden").addClass("show");
        return;
    }

    var $result = $("#result");
    $("#file").on("change", function(evt) {
        // remove content
        $result.html("");
        // be sure to show the results
        $("#result_block").removeClass("hidden").addClass("show");

        // Closure to capture the file information.
        function handleFile(f) {
            var $title = $("<h4>", {
                text: f.name
            });
            var $fileContent = $("<ul class='list'>");
            $result.append($title);
            $result.append($fileContent);

            var dateBefore = new Date();
            JSZip.loadAsync(f)
                .then(function(zip) {
                    var dateAfter = new Date();
                    $title.append($("<span>", {
                        text: " (loaded in " + (dateAfter - dateBefore) + "ms)"
                    }));

                    zip.forEach(function(relativePath, zipEntry) {
                        $fileContent.append($("<li>", {
                            text: zipEntry.name
                        }));
                    });

                    if (JSZip.support.blob) {
                        function downloadWithBlob() {
                            zip.generateAsync({
                                type: "blob"
                            }).then(function(blob) {
                                //sent to server
                                var formData = new FormData();
                                formData.append('blob', blob);
                                $.ajax({
                                    url: '/shop/createXlsImage/',
                                    data: formData,
                                    type: 'POST',
                                    contentType: false, //must
                                    processData: false, //must
                                    success: function(data, status) {
                                        if (data.success) {
                                            for (var i = 0; i < $(".list").find("li").length; i++) {
                                                if ($(".list").find("li").eq(i).text().split(".")[1] == "jpeg") {
                                                    var imgUrl = "/resources/" + $(".list").find("li").eq(i).text();
                                                    var $img = $("<img src=" + imgUrl + ">");
                                                    $("body").append($img);
                                                }
                                            }
                                        }
                                    },
                                    error: function(data, status) {}
                                });
                            }, function(err) {
                                console.log(err);
                            });
                            //return false;
                        }
                        downloadWithBlob();
                    } else {
                        blobLink.innerHTML += " (not supported on this browser)";
                    }

                }, function(e) {
                    $fileContent = $("<div>", {
                        "class": "alert alert-danger",
                        text: "Error reading " + f.name + " : " + e.message
                    });
                }).then(function() {


                });
        }

        var files = evt.target.files;
        for (var i = 0, f; f = files[i]; i++) {
            handleFile(f);
        }



    });
})();
</script>

</html>
