doctype html
html
  head
    meta(charset='UTF-8')
    title login-m
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/reg-m.css')
    link(rel='stylesheet', href='/stylesheets/header-m.css')
  body
    include header-m.jade
    +header-m("Login")
    .logreg-form
      .logreg-inputs#loginUser
        .input-group
          input.ui-input.email(type='email', placeholder='Please input your email', required='' id="user_loginemail")
          p.input-tip Please input correct Email address
        .input-group
          input.ui-input(type='password', placeholder='Please input your password', required='' id="user_loginpassword")
      button.ui-btn.logreg-btn(type='submit' id="login_button") Login
  script(src='/javascripts/jquery-2.2.3.min.js')
  script(src='/javascripts/login-m.js')
  script(src='/javascripts/header.js')