<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/menu-m.css">
</head>

<body>
    <header class="eleme-header">
        <a class="header-back" goback="/home"><span class="icon-arrow-left">&lt;</span></a>
        <div class="header-title flex"><span class="header-rst-name">地瓜府（亦庄店）</span></div>
    </header>
    <ul class="restaurant-tabs clearfix">
        <li class="restaurant-tab active">菜单</li>
        <li class="restaurant-tab">评价</li>
        <li class="restaurant-tab">商家</li>
    </ul>
    <div class="restaurant-content">
        <div class="restaurant-menu">
            <menu-nav class="restaurant-menu-item active">
                <span>秒杀半价</span>
            </menu-nav>
            <menu-nav class="restaurant-menu-item">
                <span>秒杀半价</span>
            </menu-nav>
        </div>
        <div class="restaurant-food">
            <section>
                <h3 class="restaurant-menu-description">笨熊特色米饭类</h3>
                <div class="restaurant-food-container">
                    <img width="70" height="70" style="opacity: 1; transition: opacity 0.5s;">
                    <div class="restaurant-food-body">
                        <p class="restaurant-food-name">川香水煮肉片饭</p>
                        <p class="restaurant-food-description">四川经典水煮肉片微辣+鲜香大米+时令蔬菜，肉味香辣，软嫩，肉嫩鲜香，汤红油亮，麻辣味浓，最宜下饭.</p>
                        <div class="restaurant-food-content">
                            <div class="restaurant-food-info">
                                <p class="restaurant-food-about">
                                    <rating></rating>
                                    <span class="restaurant-food-comment">0评价</span>
                                    <span class="restaurant-food-sales">月售57份</span>
                                </p>
                                <div class="restaurant-food-footer">
                                    <span class="restaurant-food-price">¥25.00</span>
                                    <div class="minus-cartcontrol"></div>
                                    <span class="food-num">1</span>
                                    <div class="mdish-cartcontrol"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="restaurant-food-container">
                    <img width="70" height="70" style="opacity: 1; transition: opacity 0.5s;">
                    <div class="restaurant-food-body">
                        <p class="restaurant-food-name">川香水煮肉片饭</p>
                        <p class="restaurant-food-description">四川经典水煮肉片微辣+鲜香大米+时令蔬菜，肉味香辣，软嫩，肉嫩鲜香，汤红油亮，麻辣味浓，最宜下饭.</p>
                        <div class="restaurant-food-content">
                            <div class="restaurant-food-info">
                                <p class="restaurant-food-about">
                                    <rating></rating>
                                    <span class="restaurant-food-comment">0评价</span>
                                    <span class="restaurant-food-sales">月售57份</span>
                                </p>
                                <div class="restaurant-food-footer">
                                    <span class="restaurant-food-price">¥25.00</span>
                                    <div class="mdish-cartcontrol"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <a class="menu-cart ng-scope" href="javascript:;">
        <div class="mcart-summary"><span class="ui-quantity">0</span> <span class="mcart-price">0</span></div>
        <div class="mcart-checkout">确认美食</div>
    </a>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/javascripts/jquery.tmpl.min.js"></script>
<script src="/javascripts/menu-m.js"></script>

</html>
