<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="mobile-index.css">
    <style>

    </style>
</head>

<body>
    <div class="menu-container">
        <section class="menu-section fluid-container">
            <div class="menu-section-header">
                <div class="section-name">Main Dishes</div>
                <div class="section-description">From our kitchen, ready to heat</div>
            </div>
            <ul class="menu-items">
                <li class="menu-item">
                    <a href="" class="item-photo-container">
                        <div class="photo item-photo" data-qty-in-cart=""></div>
                        <div class="mask">
                            <div class="num"></div>
                            <div class="tip">in your cart</div>
                        </div>
                    </a>
                    <div class="details">
                        <a href="" class="item-name">Maple-Brined Pork Tenderloin
	    				</a>
                        <div class="actions clearfix">
                            <div class="price">$10.95</div>
                            <div class="buttons">
                                <button class="small remove-from-cart">
                                    <span class="remove-icon"></span>
                                </button>
                                <button class="small add-to-cart">
                                    <span class="add-icon"></span>
                                    <span class="add-text">Add</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="" class="item-photo-container">
                        <div class="photo item-photo" data-qty-in-cart=""></div>
                        <div class="mask">
                            <div class="num"></div>
                            <div class="tip">in your cart</div>
                        </div>
                    </a>
                    <div class="details">
                        <a href="" class="item-name">Maple-Brined Pork Tenderloin
	    				</a>
                        <div class="actions clearfix">
                            <div class="price">$10.95</div>
                            <div class="buttons">
                                <button class="small remove-from-cart">
                                    <span class="remove-icon"></span>
                                </button>
                                <button class="small add-to-cart">
                                    <span class="add-icon"></span>
                                    <span class="add-text">Add</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="" class="item-photo-container">
                        <div class="photo item-photo" data-qty-in-cart=""></div>
                        <div class="mask">
                            <div class="num"></div>
                            <div class="tip">in your cart</div>
                        </div>
                    </a>
                    <div class="details">
                        <a href="" class="item-name">Maple-Brined Pork Tenderloin
	    				</a>
                        <div class="actions clearfix">
                            <div class="price">$10.95</div>
                            <div class="buttons">
                                <button class="small remove-from-cart">
                                    <span class="remove-icon"></span>
                                </button>
                                <button class="small add-to-cart">
                                    <span class="add-icon"></span>
                                    <span class="add-text">Add</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="" class="item-photo-container">
                        <div class="photo item-photo" data-qty-in-cart=""></div>
                        <div class="mask">
                            <div class="num"></div>
                            <div class="tip">in your cart</div>
                        </div>
                    </a>
                    <div class="details">
                        <a href="" class="item-name">Maple-Brined Pork Tenderloin
	    				</a>
                        <div class="actions clearfix">
                            <div class="price">$10.95</div>
                            <div class="buttons">
                                <button class="small remove-from-cart">
                                    <span class="remove-icon"></span>
                                </button>
                                <button class="small add-to-cart">
                                    <span class="add-icon"></span>
                                    <span class="add-text">Add</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="" class="item-photo-container">
                        <div class="photo item-photo" data-qty-in-cart=""></div>
                        <div class="mask">
                            <div class="num"></div>
                            <div class="tip">in your cart</div>
                        </div>
                    </a>
                    <div class="details">
                        <a href="" class="item-name">Maple-Brined Pork Tenderloin
	    				</a>
                        <div class="actions clearfix">
                            <div class="price">$10.95</div>
                            <div class="buttons">
                                <button class="small remove-from-cart">
                                    <span class="remove-icon"></span>
                                </button>
                                <button class="small add-to-cart">
                                    <span class="add-icon"></span>
                                    <span class="add-text">Add</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="" class="item-photo-container">
                        <div class="photo item-photo" data-qty-in-cart=""></div>
                        <div class="mask">
                            <div class="num"></div>
                            <div class="tip">in your cart</div>
                        </div>
                    </a>
                    <div class="details">
                        <a href="" class="item-name">Maple-Brined Pork Tenderloin
	    				</a>
                        <div class="actions clearfix">
                            <div class="price">$10.95</div>
                            <div class="buttons">
                                <button class="small remove-from-cart">
                                    <span class="remove-icon"></span>
                                </button>
                                <button class="small add-to-cart">
                                    <span class="add-icon"></span>
                                    <span class="add-text">Add</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</body>
<script src="/javascripts/jquery-2.2.3.min.js"></script>
<script>
$(document).ready(function() {
    var menuItem = $(".menu-item");
    //var addBtn=$(".add-to-cart");
    var addToCart = {
        loading: function() {},
        cartUpdate: function() {},
        btnUpdate: function(self) {
            self.siblings(".remove-from-cart").show();
        },
        maskUpdate: function(delegated) {
            var num = Number(delegated.find(".item-photo").attr("data-qty-in-cart")),
                itemPhoto = delegated.find(".num");
            delegated.find(".item-photo").attr("data-qty-in-cart", ++num)
            itemPhoto.html(num);
            delegated.find(".mask").show();
        }
    };

    var removeFromCart = {
        loading: function() {},
        cartUpdate: function() {},
        btnUpdate: function(self, delegated) {
            if (Number(delegated.find(".item-photo").attr("data-qty-in-cart")) == 0) {
                self.hide();
            }
        },
        maskUpdate: function(delegated) {
            var num = Number(delegated.find(".item-photo").attr("data-qty-in-cart")),
                itemPhoto = delegated.find(".num");
                console.log(num)
            if (num > 1) {
                delegated.find(".item-photo").attr("data-qty-in-cart", --num)
                itemPhoto.html(num);
                delegated.find(".mask").show();
            }else{
            	delegated.find(".item-photo").attr("data-qty-in-cart", --num)
            	delegated.find(".mask").hide();
            }
        }
    };

    menuItem.delegate(".add-to-cart", "click", function(e) {
        var delegated = $(e.delegateTarget);
        addToCart.maskUpdate(delegated);
        addToCart.btnUpdate($(this));
    });

    menuItem.delegate(".remove-from-cart", "click", function(e) {
        var delegated = $(e.delegateTarget);
        removeFromCart.maskUpdate(delegated);
        removeFromCart.btnUpdate($(this), delegated);
    });

});
</script>

</html>
