<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>My Like</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/jquery.tmpl.min.js"></script>
    <script>
    $(function(){
    	$.ajax({
                url:'/user/account/favoriteshop',
                headers: {
                'index': 1,
                'count': 9999
                },
                type:"GET",
                success:function(data){
                    if(data.success){
                        console.log(data.favoriteshop);
                        var markup = '<div> \
									<p>name : ${shopId.shopName}</p> \
									<p>shopId :http://localhost:8080/user/account/web/cart/${shopId._id}</p> \
									<p>PicURL:${shopId.shopPicTrueUrl}<p> \
								</div>';
					$.template("myLikeTemplate", markup);
                    $.tmpl("myLikeTemplate", data.favoriteshop).appendTo(".myLike");
                    }
                }
            })
    })
    </script>
</head>
<body>
	<h1>My like</h1>
	<div class="myLike">
	</div>
</body>
</html>