<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>my order</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <style>
    .order-div ul,
    .dish ul {
        margin-bottom: 20px;
    }
    .dishName,.dishPrice,.dishNum{
        display: inline-block;
    }
    </style>
    <script src="/javascripts/jquery-2.2.3.min.js"></script>
    <script src="/javascripts/jquery.tmpl.min.js"></script>
    <script>
function moreOrder(index) {
    $.ajax({
            url: '/user/account/web/wholeOrderData',
            type: 'GET',
            headers: {
                'index': index,
                'count': 9999
            },
            success: function(data, status) {
                if (data.success) {
                    console.log(data.order)
                    console.log(data.dishObj)
                    console.log(data.amount)
                    var markup = '<ul> \
        <li>price: <span class="price">${order.price}</span></li> \
        <li>下单时间：${order.date}</li> \
        <li>个人信息：${order.address.name} ${order.address.phone} ${order.address.addr}</li> \
        <li>状态：${order.status}</li> \
        <li class="content">订单内容：\
        <div class="dishName"></div> \
        <div class="dishPrice"></div> \
        <div class="dishNum"></div> \
        </li> \
        <li>留言：${order.message}</li> \
        <li class="shopId">${order.shop}</li> \
        <li class="orderId">${order._id}</li> \
        <li>comment:  <input type="text"/><button>submit comment</button></li> \
    </ul>'

                    $.template("orderTemplate", markup);
                    $.tmpl("orderTemplate", data.order).appendTo(".order-div");
                }

                for(var i in data.dishObj){
                    var len=data.dishObj[i].length;
                    for(var j=0;j<len;j++){
                        $(".dishName").eq(Number(i)).append("<div class='dish-item'>"+ data.dishObj[i][j].dishName +"</div>")
                        $(".dishPrice").eq(Number(i)).append("<div class='dish-price'>"+ data.dishObj[i][j].price +"</div>")
                        $(".dishNum").eq(Number(i)).append("<div class='dish-num'>"+ data.amount[i][j] +"</div>")
                    }
                }

            }
        })
}

    moreOrder(1);

    $(document).on("click", "button", function() {
        var shopId = $(this).parent().siblings(".shopId").text();
        var orderId = $(this).parent().siblings(".orderId").text();
        var comment = {};
        comment.content = $(this).siblings("input").val();
        comment.mark = 4;
        $.ajax({
            url: '/user/account/web/comment',
            type: 'POST',
            data: {
                "shopId": shopId,
                "orderId": orderId,
                "comment": comment
            },
            success: function(data, status) {
                if (data.success) {
                    alert("comment success")
                }
            }
        });
    })
    </script>
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/userGetNotification.js"></script>
</head>

<body>
    <h1>hello my order</h1>
    <div class="wrp">
        <div class="order-div">
        </div>
    </div>
</body>
<script>
</script>

</html>
