<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>post-dish</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/post.css">
</head>

<body>
    <div id="post">
        <input type="file" class="uploadPic" multiple accept="image/*" name="upload">
        <div class="uploadPicBtn">+</div>
        <label>Dish Pic Update Pictures(at most 9)</label>
        <div class="dishPreview clearfix">
            <ul></ul>
        </div>
        <button>submit</button>
    </div>
</body>
<script src="/javascripts/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/javascripts/post-dish.js"></script>

</html>
