doctype html
html
  head
    meta(charset='UTF-8')
    title post-dish
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/post.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
  body
    include header-seller.jade
    #post
      input.uploadPic(type='file', multiple='', accept='image/*', name='upload')
      .commit.uploadPicBtn Upload Dish Images
      .dishPreview.clearfix
        ul
      #articlePostBtn.commit Submit
  script(src='/javascripts/jquery-2.2.3.min.js')
  script(src='/javascripts/post-dish.js')
