<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>create shop</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/post.css">
    <style>
    #l-map{height:500px;width:100%;}
    </style>
    <script>
    (function(){ window.BMap_loadScriptTime = (new Date).getTime(); document.write('<script type="text/javascript" src="/javascripts/baiduApi.js"></script>');})();
    </script>
</head>

<body>
    <div class="wrapper">
        <h1>Create your own shop</h1>
        <form id="post" enctype="multipart/form-data">
            email:<input type="text" id="email">
            <div class="error">请填写商店名</div>
            password:<input type="password" id="password">
            <div class="error">请填写商店名</div>
            <div class="editor-title">
                <input type="text" id="shopName" autocomplete="off" placeholder="Write down your shop name here..." name="shopName" required>
                <div class="error">请填写商店名</div>
            </div>
            <input type="text" id="suggestId">
            <div id="l-map"></div>
            <input id="location" type="hidden"></input>
            <label for="address">address</label>
          <input type="text" id="address" name="address" required>
            <!-- <label for="open">open</label>
            <input type="text" id="open" name="open" required> -->
            <label>type</label>
            <div id="type">choose
                <ul class="type">
                    <li>fast food
                        <ul>
                            <li>chicken</li>
                            <li>pizza</li>
                            <li>beef</li>
                            <li>xxx</li>
                        </ul>
                    </li>
                    <li>traditional food</li>
                    <li>afternoon tea</li>
                </ul>
            </div>
            <div class="typeResult"></div>
            <label>
            Cover Picture
            </label>
            <input type="file" class="coverPic" accept="image/*" name="files">
             <div class="preview-coverPic"></div>
            <div class="commit" id="articlePostBtn">Submit</div>
        </form>
    </div>
</body>
<script src="/javascripts/jquery-1.7.1.min.js"></script>
<script src="/javascripts/post.js"></script>

</html>
