<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>create shop</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/post.css">
</head>

<body>
    <div class="wrapper">
        <h1>Create your own shop</h1>
        <form action="/message/post" id="post" method="POST" enctype="multipart/form-data">
            email:<input type="text" id="email">
            password:<input type="password" id="password">
            <div class="editor-title">
                <input type="text" id="shopName" autocomplete="off" placeholder="Write down your shop name here..." name="shopName" required>
            </div>
            <textarea id="location" placeholder="location" class="editor-content" name="location" required></textarea>
            <label for="address">address</label>
          <input type="text" id="address" name="address" required>
            <label for="open">open</label>
            <input type="text" id="open" name="open" required>
            <label>type</label>
            <div id="type">choose
                <ul class="type">
                    <li>fast food
                        <ul>
                            <li>chicken</li>
                            <li>pizza</li>
                            <li>beef</li>
                            <li>xxx</li>
                        </ul>
                    </li>
                    <li>traditional food</li>
                    <li>afternoon tea</li>
                </ul>
            </div>
            <div class="typeResult"></div>
            
            
            <label>
            Cover Picture
            </label>
            <input type="file" class="coverPic" accept="image/*" name="files">
             <div class="preview-coverPic"></div>
           <!--  <div class="uploadPicBtn">+</div><label>Dish Pic Update Pictures(at most 9)</label>
           <div class="dishPreview clearfix">
               <ul></ul>
           </div> -->
            <div class="commit" id="articlePostBtn">Submit</div>
        </form>
    </div>
</body>
<script src="/javascripts/jquery-1.7.1.min.js"></script>
<script src="/javascripts/post.js"></script>

</html>
