<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>shop-detail</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/shop-detail.css">
</head>

<body>
    <div class="wrapper clearfix">
        <div class="left-side">
            <div class="shopmenu-nav">
                <a href="#item1" class=" active">aaa</a>
            </div>
            <div class="shopmenu clearfix" id="item1">
                <h3 class="shopmenu-title">aaa</h3>
                <div class="shopmenu-food" id="1">
                    <a class="rstblock-logo">
                        <img src="" width="70" height="70" alt="吉野家(天宝园店)" class="rstblock-logo-icon"></a>
                    <div class="rstblock-title">黄焖鸡什么时候没什么</div>
                    <div class="star-rating" progress-meter="5">
                        <div class="star-meter" progress-fill="4.2" style="width: 84%;">
                        </div>
                    </div>
                    <span class="color-mute">(4)</span>
                    <span class="color-mute">月售20份</span>
                    <span class="shopmenu-food-price">24</span>
                    <button class="shop-cartbutton">加入购物车</button>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-cart">
        <div class="shop-cartbasket" id="shopbasket">
            <div class="shop-grouphead single">
                <div class="shop-grouphead-row">
                    购物车 <a href="javascript:">[清空]</a></div>
            </div>
        </div>
        <div class="shop-cartfooter"><span class="icon-cart shop-carticon"></span>
            <p class="shop-cartfooter-text price"></p>
            <button class="shop-cartfooter-checkout disabled">购物车是空的</button>
        </div>
        <div class="shop-carthelper-opener"></div>
        <div class="shop-flyitem"></div>
    </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/javascripts/jquery.fly.min.js"></script>
<script src="/javascripts/shopDetail.js"></script>

</html>
