doctype html
html
	head
		meta(charset='UTF-8')   
		title updateInfo   
	body
		if (items)
			ul
				each val in items
					li.address
						div.delete delete
						div.update update
						p.name= val.name
						p.type= val.type
						p.phone= val.phone
						p.addr= val.addr
						input.addr_id(type="hidden",value= val._id )
		else
			p woshishui

		div#updateInfo
			label(for='location') update location
			input#location(type='text')
			button submit

		div#updateAddress
			label(for='username') name
			input#username(type="text")
			label(for='phone') phone
			input#phone(type="text")
			label(for='type') type
			input#type(type="text")
			label(for='address') address
			input#address(type="text")
			button submit

		div#updExistingAddr
			label(for='username') name
			input#usernamee(type="text")
			label(for='phone') phone
			input#phonee(type="text")
			label(for='type') type
			input#typee(type="text")
			label(for='address') address
			input#addresse(type="text")
			input#addr_id(type="hidden")
			button submit

	script(src='/javascripts/jquery-1.7.1.min.js')
	script(src='/javascripts/updateInfo.js')