doctype html
html
	head
		meta(charset='UTF-8')   
		title Address management   
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/header.css')
		link(rel='stylesheet', href='/stylesheets/updateAddress.css')
		style.
			.desktop-addresslist {
				padding-top: 15px;
				overflow: hidden;
				width:80%;
				margin:0 auto;
				}
	body
		include header.jade
		include addAddress.jade
		if (items)
			.desktop-addresslist.clearfix
				each val in items
					.desktop-addressblock
						.desktop-addressblock-buttons
							button.desktop-addressblock-button.update Update
							button.desktop-addressblock-button.delete Delete
						.desktop-addressblock-name= val.name
						.desktop-addressblock-address= val.addr
						.desktop-addressblock-mobile= val.phone
						.type= val.type
						input.addr_id(type="hidden",value= val._id )
				button.desktop-addressblock.desktop-addressblock-addblock Add new address
		else
			.desktop-addresslist.clearfix
		div#updateInfo(style="display:none;")
			label(for='location') update location
			input#location(type='text')
			button submit

		div#updExistingAddr(style="display:none;")
			label(for='username') name
			input#usernamee(type="text")
			label(for='phone') phone
			input#phonee(type="text")
			label(for='type') type
			input#typee(type="text")
			label(for='address') address
			input#addresse(type="text")
			input#addr_id(type="hidden")
			button submit

	script(src='/javascripts/jquery-1.7.1.min.js')
	script(src='/javascripts/updateInfo.js')