doctype html
html
	head
		meta(charset='UTF-8')   
		title updateInfo   
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/updateAddress.css')
	body
		include addAddress.jade
		if (items)
			.desktop-addresslist.clearfix
				each val in items
					.desktop-addressblock
						.desktop-addressblock-buttons
							button.desktop-addressblock-button.update 修改
							button.desktop-addressblock-button.delete 删除
						.desktop-addressblock-name= val.name
						.desktop-addressblock-address= val.addr
						.desktop-addressblock-mobile= val.phone
						.type= val.type
						input.addr_id(type="hidden",value= val._id )
				button.desktop-addressblock.desktop-addressblock-addblock 添加新地址
		else
			.desktop-addresslist.clearfix
		div#updateInfo
			label(for='location') update location
			input#location(type='text')
			button submit

		div#updExistingAddr
			label(for='username') name
			input#usernamee(type="text")
			label(for='phone') phone
			input#phonee(type="text")
			label(for='type') type
			input#typee(type="text")
			label(for='address') address
			input#addresse(type="text")
			input#addr_id(type="hidden")
			button submit

	script(src='/javascripts/jquery-1.7.1.min.js')
	script(src='/javascripts/updateInfo.js')