<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>restaurant-list-m</title>
    <script src="flexible.js"></script>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="restaurant-list-m.css">
</head>

<body>
<section class="filter-extend filter-category open">
    <div class="filter-scroller">
        <ul>
            <li> <span>全部商家</span> <span class="count">347</span> </li>
            <li class="active"> <span>全部商家</span> <span class="count">347</span> </li>
            <li> <span>全部商家</span> <span class="count">347</span> </li>
            <li> <span>全部商家</span> <span class="count">347</span> </li>
            <li> <span>全部商家</span> <span class="count">347</span> </li>
            <li> <span>全部商家</span> <span class="count">347</span> </li>
            <li> <span>全部商家</span> <span class="count">347</span> </li>
            <li> <span>全部商家</span> <span class="count">347</span> </li>
            <li> <span>全部商家</span> <span class="count">347</span> </li>
            <li> <span>全部商家</span> <span class="count">347</span> </li>
            <li> <span>全部商家</span> <span class="count">347</span> </li>
            <li> <span>全部商家</span> <span class="count">347</span> </li>
            <li> <span>全部商家</span> <span class="count">347</span> </li>
        </ul>
        <ul>
        	<li > <span>清真</span> <span class="count">3</span> </li>
        	<li > <span>清真</span> <span class="count">3</span> </li>
        	<li > <span>清真</span> <span class="count">3</span> </li>
        	<li > <span>清真</span> <span class="count">3</span> </li>
        	<li > <span>清真</span> <span class="count">3</span> </li>
        	<li > <span>清真</span> <span class="count">3</span> </li>
        	<li > <span>清真</span> <span class="count">3</span> </li>
        	<li > <span>清真</span> <span class="count">3</span> </li>
        	<li > <span>清真</span> <span class="count">3</span> </li>
        	<li > <span>清真</span> <span class="count">3</span> </li>
        	<li > <span>清真</span> <span class="count">3</span> </li>
        	<li > <span>清真</span> <span class="count">3</span> </li>
        	<li > <span>清真</span> <span class="count">3</span> </li>
        </ul>
    </div>
    </section>
    <section class="shoplist">
        <li class="item">
            <div class="item-wrap">
                <div class="left-wrap">
                    <img src="" alt="" class="logo">
                </div>
                <div class="right-wrap">
                    <section class="line">
                        <h3 class="shop-name">德克士（马驹桥店）</h3>
                        <div> <span class="price price-big">45</span> <span>起送</span> </div>
                    </section>
                    <section class="line">
                        <div class="rate-wrap">
                            <div>
                            </div>
                            <span class="rate">4.2</span>
                            <span>月售2302单</span>
                        </div>
                    </section>
                    <section class="line"></section>
                </div>
            </div>
        </li>
    </section>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!-- <script src="/javascripts/jquery.tmpl.min.js"></script> -->
<script src="jquery.tmpl.min.js"></script>
<script>
$(function() {
var fakeData = {
        "0": [{
            "className": "xiaolongxia",
            "num": 25
        },{
            "className": "xiaolongxia2",
            "num": 25
        },{
            "className": "3",
            "num": 22
        },{
            "className": "xiaolongxia4",
            "num": 25
        },{
            "className": "xiaolongxia5",
            "num": 2554
        },{
            "className": "xiaolongxia6",
            "num": 254
        }],
        "1": [{
            "className": "xiaolongxia7",
            "num": 254
        }]
    };
    
})
</script>
</html>
